@import 'Palette.css';

/* Este es el contenedor del componente en sí */
.css-cwhad8-MuiDateCalendar-root{
    border-radius: 5%;
}

/* Esta es la fila del mes */
.calendar .css-nk89i7-MuiPickersCalendarHeader-root{
    color: var(--color-primary);
}

/* Este es cada una de las letras del dia de la semana */
.calendar .css-p27njf-MuiTypography-root-MuiDayCalendar-weekDayLabel{
    height: 36px;
    border-radius: 100%;
    background-color: var(--color-info-light);
    color: white;
}

/* Estos son los contenedores de cada fila de los dias */
.calendar .css-flbe84-MuiDayCalendar-weekContainer{
    margin: 0px;
    height: 36px;
}

/* Este es el contenedor de los dias */
.calendar .css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition{
    min-height: 218px ;
}
